.img{

	width:100%;
}

#badge-button{

	background-color:#6BAFAD;
}

#qr-button{

	background-color:#E53833;

}

#shakeit-button{

	background-color:#8ABA49;

}

#header-badges{

	background-color:#6BAFAD;  

}

#volver-badges{

	background-color:#6BAFAD;  

}

#navbar1{

	background-color:#6BAFAD;  

}

#navbar2{

	background-color:#6BAFAD;  

}

#header-badges-2{

	background-color:#6BAFAD;  

}

#volver-badges-2{

	background-color:#6BAFAD;  

}

#navbar1-2{

	background-color:#6BAFAD;  

}

#navbar2-2{

	background-color:#6BAFAD;  

}

#header-qr{

	background-color:#E53833;

}

#volver-qr{

	background-color:#E53833;

}

#header-shakeit{

	background-color:#8ABA49;

}

#volver-shakeit{

	background-color:#8ABA49;

}

#map{

	width: 500px;
	height: 500px;


}